{% extends "layout.html" %}
{% block css %}

{% endblock %}

{% block content %}
<h1>班级列表</h1>
    <div>
        <input type="button" id="id_add" value="添加"/>
        <a href="addClass.html">新页面添加</a>
    </div>
    <table border="1">
        <thead>
        <tr>
            <th>ID</th>
            <th>标题</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
            {% for foo in class_list %}
                <tr>
                    <td id="{{ foo.id }}">{{ foo.id }}</td>
                    <td>{{ foo.caption }}</td>
                    <td>
                        <a class="td-edit" >编辑</a> |
                        <a class="td-delete">删除</a>
                    </td>
                </tr>
            {% endfor %}

        </tbody>
    </table>
    <div class="modal hide">
        <input type="text" placeholder="班级标题"/>
        <input id="id_modal_cancel" type="button" value="取消"/>
        <input id="id_1_add" type="button" value="确定"/>
    </div>
    <div class="shade hide"></div>
    <div class="remove hide">
        <p >你确定要删id为 <span id="removed_class_id"></span>的班级吗?</p>
        <input id="id_remove_cancel" type="button" value="取消"/>
        <input id="id_2_remove" type="button" value="确定"/>
    </div>
    <div class="edit hide">
        <p>标题<input type="text" class="edit_caption"></p>
        <input id="id_edit_cancel" type="button" value="取消"/>
        <input id="id_3_edit" type="button" value="确定"/>
    </div>
{% endblock %}

{% block js %}
    <script>
    $(function () {
        $('#item_classes').addClass('active');
        bindAddEvent();
        bindCancelEvent();
        bindTDRemoveEvent();
        bindTDEditEvent();
        bindRemoveEvent();
        bindEditEvent();
    });
    function bindAddEvent() {
        $('#id_add').click(function () {
            $('.modal, .shade').removeClass('hide')
        });
    }
    function bindCancelEvent() {
        $('#id_modal_cancel, #id_remove_cancel,#id_edit_cancel').click(function () {
            $('.modal, .shade, .remove, .edit').addClass('hide')
        });
    }
    function bindTDRemoveEvent() {
        $('tr').on('click', '.td-delete',function () {
            console.log($(this).parent().parent().children('td').eq(0).text())// 获取TD中的值
            $('#removed_class_id').html($(this).parent().parent().children('td').eq(0).text());
             $('.remove, .shade').removeClass('hide')
        })
        //$('td .td-delete').click(function () {
          //  $('#removed_caption').html(caption)
          //  $('.remove, .shade').removeClass('hide')
           // alert($('#id_2_remove').attr('type'))

    }
    function bindTDEditEvent() {
        $('td .td-edit').click(function () {
            $('.edit_caption').val($(this).parent().parent().children('td').eq(1).text());
            $('.edit_caption').attr('id',$(this).parent().parent().children('td').eq(0).text())
            $('.edit, .shade').removeClass('hide')
        })
    }
    function bindRemoveEvent() {
        $('#id_2_remove').click(function () {
            var class_id = $('#removed_class_id').text();
            console.log(class_id);
             $.ajaxSetup({
            data:{csrfmiddlewaretoken:'{{ csrf_token }}'}
            });
            $.ajax({
                type:"POST",
                url:"deleteClass.html",
                data:{class_id:class_id},
                dataType:"json",
                success: function (data) {
                    location.reload();
                }

            })
            $('.remove, .shade').addClass('hide');
            $(('#'+class_id)).parent().remove();
        })
    }
    function bindEditEvent() {
        $('#id_3_edit').click(function () {
            var class_id = $('.edit_caption').attr('id');
            var caption = $('.edit_caption').val();
            console.log(class_id);
            console.log(caption);
            $.ajaxSetup({                       // POST 这里要防止scrf
            data:{csrfmiddlewaretoken:'{{ csrf_token }}'}
            });
            $.ajax({
                type: "POST",
                url: "editClass.html",
                data:{class_id:class_id,caption:caption},
                dataType:"json",
                success:function (data) {//搞清楚这里要干什么
                    location.reload();
                }
            })
        $('.edit, .shade').addClass('hide');
        $(('#'+class_id)).next().html(caption) // 变量作为选择器
        })

    }
    </script>
{% endblock %}